html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

section {
  padding: 60px 0;
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 4vw;
  }
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-subtitle {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.link-btn {
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.gray-bg {
  background-color: #f2f2f2;
}

.lines {
  line-height: 2;
}

.header__logo {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .header__logo {
    width: 180px;
    top: 21px;
  }
}

.header__nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s,opacity .3s;
}

@media (max-width: 768px) {
  .header__nav {
    width: 67.7vw;
  }
}

.header__nav-item {
  margin-bottom: 30px;
}

.header__nav-item:first-of-type {
  margin-bottom: 40px;
}

.header__nav-item:last-of-type {
  margin-bottom: 0;
}

.header__nav-item a {
  color: #fff;
  font-weight: bold;
}

.header .burger-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

@media (max-width: 768px) {
  .header .burger-btn {
    top: 28px;
  }
}

.header .bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.header .bar-top {
  transform: translateY(-4px);
  transition: transform .3s;
}

.header .bar-bottom {
  transform: translateY(4px);
  transition: transform .3s;
}

.header .burger-menu {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}

.header__logo.black svg path {
  fill: #333;
  transition: fill .3s;
}

.bar.cross.bar-top {
  transform: translateY(2px) rotate(30deg);
  transition: transform .3s;
}

.bar.cross.bar-mid {
  opacity: 0;
  transition: opacity .3s;
}

.bar.cross.bar-bottom {
  transform: translateY(-2px) rotate(-30deg);
  transition: transform .3s;
}

body.noscroll {
  overflow: hidden;
}

.header__nav.open {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.burger-btn.black .bar {
  background-color: #333;
  transition: background-color .3s;
}

.burger-btn.black .burger-menu {
  color: #333;
  transition: color .3s;
}

.fv {
  height: 60vh;
  min-height: 450px;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 60vh;
  min-height: 450px;
  z-index: -1;
}

.fv__wrapper {
  height: 86%;
  width: 76.4%;
  background-image: url(images/about_pc/jacek-dylag-PMxT0XtQ--A-unsplash.png);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.fv .page-title {
  font-size: 7.2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  line-height: 1.3;
}

@media (max-width: 768px) {
  .fv .page-title {
    font-size: 5.2rem;
    transform: translate(30%, -50%);
  }
}

.fv .page-title span {
  font-size: 2rem;
  display: block;
  font-weight: bold;
}

.vision {
  padding-top: 120px;
}

@media (max-width: 768px) {
  .vision {
    padding-top: 80px;
  }
}

.vision__wrapper {
  padding-left: 15.7vw;
}

@media (max-width: 480px) {
  .vision__wrapper {
    padding-left: 0;
  }
}

.vision__text {
  font-weight: bold;
}

@media (max-width: 768px) {
  .message {
    padding-bottom: 80px;
  }
}

.message .relative {
  position: relative;
  padding-top: 150px;
}

@media (max-width: 768px) {
  .message .relative {
    padding-top: 120px;
  }
}

.message__wrapper {
  width: 840px;
  max-width: 70%;
  margin-left: auto;
  padding: 120px 0 60px;
}

@media (max-width: 480px) {
  .message__wrapper {
    width: 100%;
    max-width: 100%;
  }
}

.message__content {
  max-width: 400px;
  padding: 0 30px;
  margin: 0 auto;
}

.message__text {
  font-weight: bold;
}

.message__img {
  width: 36.4%;
  position: absolute;
  top: 0;
  left: 30px;
}

@media (max-width: 768px) {
  .message__img {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .message__img {
    max-width: 90%;
    left: 0;
  }
}

.message__img img {
  height: 226px;
  object-fit: cover;
}

.company {
  padding-bottom: 120px;
}

.company__info-list {
  border-top: 1px solid #ddd;
  margin-bottom: 40px;
}

.company__info-list > div {
  display: flex;
  padding: 20px 0;
  max-width: 800px;
  margin-left: auto;
  border-bottom: 1px solid #ddd;
}

.company__info-title {
  font-weight: bold;
  flex-basis: 142px;
}

.company__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 32.7%;
}

@media (max-width: 480px) {
  .company__map {
    padding-top: 140%;
  }
}

.company__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  line-height: 50px;
  background-color: #525252;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
